 .search-box {
    margin: 10px 0px;
    width: 100%;
    height: 30px;
}
.search-box > input {
    padding: 3px 10px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 10px;
}
.search-box > input:focus {
    border: none;
    outline: none;
}