/* User infor */
#user-info {
    display: flex;
    justify-content: start;
    position: relative;
}
#user-info .notification {
    cursor: pointer;
    position: absolute;
    right: 10px;
}
#user-info .avatar {
    cursor: pointer;
    margin-right: 10px;
}
#user-info .user-name {
    color: rgb(247, 247, 247);
    width: 200px;
    text-align: center;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
#user-info .notification {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(75, 72, 72);
    color: white;
    font-size: 13px;
    margin: 10px 0px;
    transition: background-color 1s ease;
}
#user-info .notification > :nth-child(1) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-info .notification >  div {
    transition: background-color 1s ease;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    background: rgba(48, 92, 226, 0.8);
    text-align: center;
    border-radius: 50%;
    padding: 1px;
}
#user-info .user-menu {
    display: none;
    position: absolute;
    background-color: rgb(68, 68, 67);
    top: calc(100% + 10px);
    width: 150px;
    z-index: 9999;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
#user-info .user-menu > ul > li {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(27, 26, 24);
    cursor: pointer;
    text-align: center;
    list-style: none;
    color: rgb(196, 196, 196);
    margin: 5px;
}
#user-info .user-menu > ul > :last-child {
    text-align: center;
    background-color: rgb(160, 63, 63);
    transition: backgroud-color,color 0.5s ease;
}
#user-info .user-menu > ul > :last-child:hover {
    text-align: center;
    padding: 5px;
    background-color: rgb(240, 14, 14);
    color: white;
}
#user-info .user-menu-active {
    display: block;
}