@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
/* style banner */
#login-section {
    position: relative;
}
#banner {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    z-index: 2;
    background: rgb(32, 32, 32);
    overflow: hidden;
  
}
#banner > p {
    cursor: pointer;
    padding-top: 5px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    height: 50px;
    z-index: 2;
}
/* style canvas */
#banner > :nth-child(2) {
   
    position: absolute;
    left: 0px;
    /* padding: 0px;
    border-radius: 0px;
    width: 100%;
    height: calc(100% - 50px); */
}